<p id="notice">
   <%= notice %>
</p>
<div class="my_text_data">    
    <h1>Home Page</h1>    
    <table>
       <thead>
           <tr>
               <th colspan="3"></th>
           </tr>
       </thead>        
       <tbody>
           <% @first_pages.each do |first_page| %>
               <tr>
                   <td>
                       <%= link_to 'Show', first_page %>
                   </td>
                   <td>
                       <%= link_to 'Edit', edit_first_page_path(first_page) %>
                   </td>
                   <td>
                       <%= link_to 'Destroy', first_page, method: :delete, data: { confirm: 'Are you sure?' } %>
                   </td>
               </tr>
               <% end %>
       </tbody>
   </table>  
     <br>    
     <%= link_to 'New First Page', new_first_page_path %>
  </div>
   <div class="modal-mask">
     <div class="modal" tabindex="1">
     <p align="center">
          Session Time Out
           <br>
           <button class="modal-btn">Okay</button>
       </p>
   </div>
 </div>


 